<!-- Email -->
<div class="r-main-content"
     layout="column"
     ng-if="vm.step === 'email'"
>
    <div class="r-heading">
        <h1 md-colors="{color: 'accent-600'}" class="r-title md-display-2">Reset password</h1>
    </div>
    <form name="vm.form"
          novalidate
          ng-submit="!vm.loading && vm.form.$valid && vm.pwdRemind()"
    >
        <div layout="row" layout-margin>
            <p>
                Please enter the email address you used to create your account,
                and we will email a link to reset your password
            </p>
        </div>
        <div layout="row" layout-margin>
            <md-input-container flex>
                <input name="Email" type="email"
                       auto-focus
                       ng-required="true"
                       placeholder="Email address"
                       ng-model="vm.data.Email"/>
            </md-input-container>
        </div>
        <div layout="row" layout-margin>
            <div flex="nogrow" class="r-auth-captcha">
                <img ng-src="{{ vm.captchaUrl }}"/>
            </div>
            <md-input-container flex>
                <input name="captcha"
                       ng-required="true"
                       autocomplete="off"
                       placeholder="Type the characters you see in this image"
                       ng-model="vm.data.captcha"/>
            </md-input-container>
        </div>
        <div layout="column" layout-margin>
            <md-button type="submit"
                       class="md-raised md-primary"
                       ng-disabled="vm.loading || !vm.form.$valid"
            >
                Submit
            </md-button>
            <md-button ui-sref="auth.signin">Sign in</md-button>
        </div>
    </form>
</div>

<!-- Check mail -->
<div class="r-main-content"
     layout="column"
     ng-if="vm.step === 'sent'"
>
    <div class="r-heading">
        <h1 md-colors="{color: 'accent-600'}" class="r-title md-display-2">Reset password</h1>
    </div>
    <div layout="column" layout-align=" center" layout-margin>
        <md-icon class="md-primary"
                 md-font-set="material-icons"
                 ng-style="{'font-size': '48px', width: '48px', height: '48px'}"
        >email</md-icon>
    </div>
    <p class="r-description">
        An email with information on how to reset your password has been
        sent to <b>{{ vm.data.email }}</b>.
    </p>
</div>

<!-- We check your link -->
<div class="r-main-content"
     layout="column" layout-align=" center"
     ng-if="vm.step === 'request'"
>
    <div class="r-heading">
        <h1 md-colors="{color: 'accent-600'}" class="r-title md-display-2">Reset password</h1>
    </div>
    <div layout="row"
         ng-if="vm.loading">
        <md-progress-circular md-mode="indeterminate"></md-progress-circular>
    </div>
    <div layout="column" layout-align=" center" layout-margin
         ng-if="vm.error">
        <md-icon class="md-warn"
                 md-font-set="material-icons"
                 ng-style="{'font-size': '48px', width: '48px', height: '48px'}"
        >warning</md-icon>
        <p ng-bind="vm.error"></p>
    </div>
</div>

<!-- Set new password -->
<div class="r-main-content"
     layout="column" layout-align=" center"
     ng-if="vm.step === 'password'"
>
    <div class="r-heading">
        <h1 md-colors="{color: 'accent-600'}" class="r-title md-display-2">Set new password</h1>
    </div>
    <div layout="row"
         ng-if="vm.loading"
    >
        <md-progress-circular md-mode="indeterminate"></md-progress-circular>
    </div>
    <div layout="column" layout-align=" center" layout-margin
         ng-if="vm.error">
        <md-icon class="md-warn"
                 md-font-set="material-icons"
                 ng-style="{'font-size': '48px', width: '48px', height: '48px'}"
        >warning</md-icon>
        <p ng-bind="vm.error"></p>
    </div>
    <form name="vm.form"
          novalidate
          ng-submit="!vm.loading && vm.form.$valid && vm.pwdReset()"
          ng-if="!vm.loading"
    >
        <div layout="row" layout-margin>
            <p style="text-align: justify;">
                Enter your new password.
                Your password needs to be at least 8 characters long
                and should contain at least one uppercase character,
                one lowercase character, and one of a symbol or digit.
            </p>
        </div>
        <div layout="row" layout-margin>
            <md-input-container flex>
                <input name="Password" type="password"
                       ng-required="true"
                       placeholder="Password"
                       ng-model="vm.data.Password"/>
            </md-input-container>
        </div>
        <div layout="row" layout-margin>
            <md-input-container flex>
                <input name="PasswordConfirm" type="password"
                       ng-required="true"
                       placeholder="Confirm password"
                       ng-model="vm.PasswordConfirm"/>
            </md-input-container>
        </div>
        <div layout="column" layout-margin>
            <md-button type="submit"
                       class="md-raised md-primary"
                       ng-disabled="vm.loading || !vm.form.$valid"
            >
                Set new password
            </md-button>
            <md-button ui-sref="auth.signin">Sign in</md-button>
        </div>
    </form>
</div>

<!-- All done -->
<div class="r-main-content"
     layout="column" layout-align=" center"
     ng-if="vm.step === 'complete'"
>
    <div class="r-heading">
        <h1 md-colors="{color: 'accent-600'}" class="r-title md-display-2">Reset password</h1>
    </div>
    <div layout="column" layout-align=" center" layout-margin>
        <md-icon class="md-primary"
                 md-font-set="material-icons"
                 ng-style="{'font-size': '48px', width: '48px', height: '48px'}"
        >done</md-icon>
    </div>
    <p class="r-description">
        The password has been changed.
    </p>
    <md-button class="md-raised md-primary"
               ui-sref="auth.signin">
        Sign in
    </md-button>
</div>
