<div ng-click="vm.svc.loader=false" class="rf-loader" ng-class="vm.svc.loader ? '' : 'loaded'">
    <div class="loader"></div>
    <div class="loader-section section-left"></div>
    <div class="loader-section section-right"></div>
</div>
<div
        ng-click="vm.svc.message.show=false"
        ng-class="[vm.svc.message.show ? 'rf-shown': '', 'alert-' + vm.svc.message.type]"
        class="rf-message alert"
        ng-bind="vm.svc.message.text"></div>
<div
        ng-click="vm.svc.window.show = false"
        ng-class="vm.svc.window.show ? 'rf-shown' : ''"
        class="rf-window"
        ng-bind-html="vm.svc.window.content"></div>