<md-content class="md-padding" md-whiteframe="1" layout="row" layout-align="start stretch">
    <md-button
            class="md-primary md-fab md-mini"
            ng-click="vm.searchParams.from = 0"
            ng-disabled="vm.searchParams.from === 0"
    >
        <md-icon>first_page</md-icon>
    </md-button>
    <md-button
            class="md-fab md-mini"
            ng-click="vm.searchParams.from = vm.searchParams.from - vm.searchParams.size"
            ng-disabled="vm.searchParams.from === 0"
    >
        <md-icon>chevron_left</md-icon>
    </md-button>

    <md-button
            ng-repeat="i in vm.paging.pageArr track by $index"
            class="md-mini"
            ng-bind="$index + 1"
            ng-click="vm.searchParams.from = $index * vm.searchParams.size"
            ng-class="vm.searchParams.from === $index * vm.searchParams.size ? 'md-icon-button' : 'md-fab'"
    ></md-button>

    <md-button
            class="md-fab md-mini"
            ng-click="vm.searchParams.from = vm.searchParams.from + vm.searchParams.size"
            ng-disabled="vm.searchParams.from === (vm.paging.pages - 1) * vm.searchParams.size"
    >
        <md-icon>chevron_right</md-icon>
    </md-button>
    <md-button
            class="md-primary md-fab md-mini"
            ng-click="vm.searchParams.from = (vm.paging.pages - 1) * vm.searchParams.size"
            ng-disabled="vm.searchParams.from === (vm.paging.pages - 1) * vm.searchParams.size"
    >
        <md-icon>last_page</md-icon>
    </md-button>

    <md-menu md-offset="0 36">
        <md-button class="md-raised md-primary" ng-mouseenter="$mdMenu.open()">
            Sort <span ng-bind="vm.sortBy[vm.sortKey].name"></span> <md-icon ng-bind="vm.isMenuOpened ? 'keyboard_arrow_up' : 'keyboard_arrow_down'"></md-icon>
        </md-button>
        <md-menu-content width="4" ng-mouseleave="$mdMenu.close()">
            <md-menu-item ng-repeat="(key, opts) in vm.sortBy">
                <md-button
                        ng-disabled="vm.sortKey === key"
                        ng-click="vm.changeSort(key)"
                        ng-bind="opts.name">
                </md-button>
            </md-menu-item>
        </md-menu-content>
    </md-menu>

    <span flex></span>

    <div class="found-total" layout="column" layout-align="space-between stretch">
        <span class="found-total-label">found</span>
        <b ng-bind="vm.total"></b>
        <span class="found-total-label">Refigures</span>
    </div>
</md-content>