collection-edit
  .md-truncate
    width: 100%
  md-sidenav.md-sidenav-right
    top: 64px
    width: 50%
    min-width: 600px
    max-width: inherit
    position: fixed

  md-backdrop
    top: 64px
    position: fixed