<div layout="row" layout-align="start stretch">
    <div flex>
        <md-card>
            <md-input-container class="md-block blog-search">
                <input type="text" placeholder="Search" ng-model="search">
            </md-input-container>
        </md-card>
        <div class="blog-grid">
            <md-card
                    layout-padding
                    ui-sref="home.blogItem({id: item.BlogID})"
                    ng-repeat="item in (filtered = (vm.blog | filter: search))">
                <div layout="column">
                    <div class="md-headline" ng-bind="item.Title"></div>
                    <div class="md-subhead" ng-show="item.Author">
                        By <span ng-bind="item.Author"></span>
                        <span> on </span>
                        <span ng-bind="item.DateCreated|date:'LLLL d\'th\', yyyy'"></span>
                    </div>
                </div>
                <div ng-bind="item.briefContent"></div>
            </md-card>
        </div>
        <h3 ng-hide="filtered.length" layout="row" layout-align="center center">No posts found</h3>
    </div>
    <div id="twitter-feed"></div>
</div>