<div class="container-fluid collection">
    <h3 align="center" ng-bind="vm.collection.Title"></h3>
    <div class="row">
        <p ng-bind="vm.collection.Description"></p>
        <div class="text-right">
            <div class="btn-group">
                <a ng-href="#!/my-collections" class="btn btn-sm btn-default">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                </a>
                <a ng-href="#!/collections/edit/{{vm.collection.ID}}" class="btn btn-sm btn-default">
                    <span class="glyphicon glyphicon-pencil"></span>
                </a>
                <a ng-click="vm.removeItem(vm.collection.ID)" class="btn btn-sm btn-default">
                    <span class="glyphicon glyphicon-remove"></span>
                </a>
            </div>
        </div>
        <hr>
    </div>
</div>