<form name="vm.form" ng-submit="vm.submit(term)">
    <div class="r-search-input" layout="row">
        <md-input-container flex>
            <input name="term" autofocus ng-model="term" placeholder="Search"/>
        </md-input-container>
        <md-button class="md-icon-button"
                   ng-disabled="!vm.form.term.$viewValue"
                   md-colors="{background: 'accent-100'}" aria-label="Search"
                   type="submit"
        >
            <md-icon md-font-set="material-icons">search</md-icon>
        </md-button>
    </div>
</form>

<md-content class="md-padding" md-whiteframe="1" layout="row" layout-align="start end">
    <md-button
            class="md-primary md-fab md-mini"
            ng-click="vm.searchParams.from = 0"
            ng-disabled="vm.searchParams.from === 0"
    >
        <md-icon>first_page</md-icon>
    </md-button>
    <md-button
            class="md-fab md-mini"
            ng-click="vm.searchParams.from = vm.searchParams.from - 1"
            ng-disabled="vm.searchParams.from === 0"
    >
        <md-icon>chevron_left</md-icon>
    </md-button>

    <md-button
            ng-repeat="i in vm.paging.pageArr track by $index"
            class="md-mini"
            ng-bind="$index + 1"
            ng-click="vm.searchParams.from = $index"
            ng-class="vm.searchParams.from === $index ? 'md-icon-button' : 'md-fab'"
    ></md-button>

    <md-button
            class="md-fab md-mini"
            ng-click="vm.searchParams.from = vm.searchParams.from + 1"
            ng-disabled="vm.searchParams.from === vm.paging.pages - 1"
    >
        <md-icon>chevron_right</md-icon>
    </md-button>
    <md-button
            class="md-primary md-fab md-mini"
            ng-click="vm.searchParams.from = vm.paging.pages - 1"
            ng-disabled="vm.searchParams.from === vm.paging.pages - 1"
    >
        <md-icon>last_page</md-icon>
    </md-button>

    <md-button class="md-raised md-primary" ng-click="vm.switchDirection()">
        <span>Sort direction</span>
        <md-icon ng-bind="vm.sortDirIcons[vm.searchParams.sortDirection]"></md-icon>
    </md-button>

    <md-menu md-offset="0 36">
        <md-button class="md-raised md-primary" ng-mouseenter="$mdMenu.open()">
            Sort by: <span ng-bind="vm.sortFieldVariant[vm.searchParams.sortField]"></span>
        </md-button>
        <md-menu-content width="2" ng-mouseleave="$mdMenu.close()">
            <md-menu-item ng-repeat="(field, text) in vm.sortFieldVariant">
                <md-button
                        ng-disabled="vm.searchParams.sortField === field"
                        ng-click="vm.searchParams.sortField = field"
                        ng-bind="text">
                </md-button>
            </md-menu-item>
        </md-menu-content>
    </md-menu>
</md-content>

<md-card ng-repeat="card in vm.results">
    <md-card-title>
        <md-card-title-media class="md-padding">
            <div class="md-media-lg card-media">
                <img ng-src="{{card.$ui.img.src}}">
            </div>
        </md-card-title-media>
        <md-card-title-text>
            <span class="md-headline" ng-bind="card.Title"></span>
            <!--<span class="md-subhead" ng-bind="card.">Large</span>-->
            <div class="md-subhead" ng-bind="card.Description"></div>
        </md-card-title-text>
    </md-card-title>
</md-card>