<div layout="row" layout-align="center center">
    <md-button class="md-primary news-back-to-list md-raised" ui-sref="home.news">
        <md-icon>arrow_back</md-icon>
        <span> back to news list</span>
    </md-button>
    <md-card layout-padding>
        <div layout="column">
            <h1 ng-bind="vm.newsItem.Title"></h1>
            <div class="md-subhead" ng-show="vm.newsItem.Author">
                By <span ng-bind="vm.newsItem.Author"></span>
                <span> on </span>
                <span ng-bind="vm.newsItem.DateCreated|date:'LLLL d\'th\', yyyy'"></span>
            </div>
        </div>
        <md-divider></md-divider>
        <div>
            <div ng-bind-html="vm.newsItem.Content"></div>
        </div>
    </md-card>
</div>
<!--<pre>{{vm.newsItem|json}}</pre>-->