<pager total="vm.response.found" search-params="vm.searchParams" default-sort="nameAsc"></pager>
<div class="r-collection" ng-repeat="item in vm.response.results">
    <collection-row item="item"></collection-row>

    <div class="r-collection-controls" layout="column" layout-align="space-between stretch">
        <md-button ng-click="vm.showDetails(item.ID)" class="md-accent md-raised md-small">
            <md-icon>mode_edit</md-icon>
        </md-button>
        <div ng-click="vm.remove($index)" class="r-collection-remove" layout="row" layout-align="space-around center">
            <md-icon flex>delete</md-icon>
            <md-tooltip>delete refigure</md-tooltip>
        </div>
    </div>
</div>
<collection-edit></collection-edit>