<md-card>
    <form layout="row" class="md-padding" name="vm.editForm" ng-submit="vm.submit(term)">
        <md-input-container flex>
            <input name="term" autofocus ng-model="term" placeholder="Search"/>
        </md-input-container>
        <md-button class="md-icon-button"
                   md-colors="{background: 'accent-100'}" aria-label="Search"
                   type="submit"
        >
            <md-icon md-font-set="material-icons">search</md-icon>
        </md-button>
    </form>
</md-card>
<pager total="vm.found" search-params="vm.searchParams" default-sort="nameAsc"></pager>
<div class="r-collection" ng-repeat="item in vm.refigures">
    <collection-row item="item"></collection-row>

    <div ng-click="vm.remove($index)" class="r-collection-remove" layout="row" layout-align="space-around center">
        <md-icon flex>delete</md-icon>
        <md-tooltip>delete refigure</md-tooltip>
    </div>
</div>