about
    .blog-pic
        height: 100px
        width: 100px
        margin: 10px
        border-radius: 7px
    .about-pics
        display: flex
        flex-direction: row
        flex: .5
        max-height: 300px
        margin: 15px

    .about-pic
        flex: 1
        max-width: 50%
        margin: 5px
    h1, h3
        margin: 0

    .social
        margin: 0 60px

    .social-btn
        display: inline-block
        width: 25px
        height: 25px
        margin: 5px
        border-radius: 15px

    .twitter
        background: #fff url(../img/twitter.png) no-repeat center

    .twitter:hover
        background-color: #00aced
    .facebook
        background: #fff url(../img/facebook.png) no-repeat center
    .facebook:hover
        background-color: #3b5998
    .linkedin
        background: #fff url(../img/linkedin.png) no-repeat center
    .linkedin:hover
        background-color: #007bb6
