<h1>Who are ReFigure?</h1>
<div class="about-us">
    <p class="info-p">
        ReFigure was envisioned by <a href="https://www.linkedin.com/in/girija-goyal-01b5781b" target="_blank">Girija Goyal</a> and <a href="https://www.linkedin.com/in/jamesjakin" target="_blank">James Akin</a>
        to address an unmet need in scientific communication and early career scientists-making
        every experiment and every figure an actionable, creditable finding without losing the context that comes with the traditional story-telling of full length publications.
    </p>
    <div class="about-pics">
        <a href="https://www.linkedin.com/in/girija-goyal-01b5781b" target="_blank">
            <img src="img/content/ggoyal.jpg" class="blog-pic" alt='Girija Goyal'>
        </a>

        <a href="https://www.linkedin.com/in/jamesjakin" target="_blank">
            <img src="img/content/jakin.jpg" class="blog-pic" alt='James J Akin'>
        </a>
    </div>
</div>

<h3>What research do we host?</h3>
<ul>
    <li>A VISUAL metapublication (see example <a href="blog/12_8.html" target="_blank">here</a>) linking previously published or new figures from
        traditional full length papers or single figure publications to assess reproducibility, identify novel findings and catalyze collaborations</li>
    <li>Authors can be early career researchers who create such metapublications in the course of their reading/coursework by easily clicking the figures they want to connect.
        Our extension will take care of the rest!</li>
</ul>
<div class="about-pics">
    <img src="img/content/data_display_large.png" class="about-pic" alt='Sample ReFigure'>
    <img src="img/content/refigure_mockup.png" class="about-pic" alt='Sample ReFigure'>
</div>
<div class="contact-footer">
    <div class="social">
        <a href="http://twitter.com/scimpact_org" target="_blank" class="twitter social-btn"></a>
        <a href="http://www.facebook.com/" target="_blank" class="facebook social-btn"></a>
        <a href="http://www.linkedin.com/company/scimpact-publishing" target="_new" class="linkedin social-btn"></a>
    </div>
    <h6><a href="https://www.linkedin.com/in/stephen-publicover-61a48a132" target="_blank">
        <em>Web master and developer</em>
    </a>
    </h6>
</div>