<!--<div ng-repeat="fig in vm.figures">
    <div class="element">
        <img ng-src="{{fig.URL}}">
        <div class="info">
            <h1>{{fig.Caption}}</h1>
            <p>moreInfo</p>
        </div>
    </div>
</div>-->
<div class="row">
    <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
            <img ng-src="{{fig.URL}}">
            <div class="caption">
                <h3>Thumbnail label</h3>
                <p>...</p>

            </div>
        </div>
    </div>
</div>