<div class="collection">
    <div class="material-input collection-search">
        <input id="collections-search" type="text" ng-model="vm.search" ng-keydown="vm.handleESC($event)">
        <label for="collections-search">Search my Refigures</label>
        <button ng-click="vm.search = ''" type="button" class="close collection-search-reset">&times;</button>
    </div>

    <div class="panel panel-default"
         ng-repeat="collection in vm.collections | filter: vm.search"
         ng-click="vm.editCollection(collection.Metapublication.ID)"
         ng-class="(collection.Metapublication.ID === vm.metapublication.ID) ? 'is-current': ''">
        <div class="panel-heading">
            <h1 class="panel-title" ng-bind="collection.Metapublication.Title"></h1>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-xs-4">
                    <img ng-click="vm.showFull($event, collection.Metapublication.Figures[0].URL)"
                         ng-show="collection.Metapublication.Figures[0].URL"
                         class="thumbnail-sm has-image"
                         ng-src="{{collection.Metapublication.Figures[0].URL}}">

                    <img ng-hide="collection.Metapublication.Figures[0].URL"
                         class="thumbnail-sm"
                         src="/img/no_image.png">
                </div>
                <div class="col-xs-8">
                    <p ng-bind-html="collection.Metapublication.Description | linky:'_blank'"></p>
                    <div class="collection-fig-count">
                        <span ng-bind="collection.Metapublication.FiguresCount"></span>
                        <span plural="collection.Metapublication.FiguresCount"> image</span> in Refigure
                    </div>
                </div>
            </div>
        </div>
    </div>

    <button ng-click="vm.addRefigure()" class="btn btn-primary btn-block collection-add">Create new Refigure</button>
</div>