<div class="text-center">
    <a class="btn btn-link btn-lg btn-block" ng-show="vm.store.foundFigures.length > 0" href="#!/foundfigures">
        <span>Show <b ng-bind="vm.store.foundFigures.length"></b> <span plural="vm.store.foundFigures.length">ReFigure</span> on this page</span>
    </a>
    <div ng-hide="vm.store.foundFigures.length > 0">No ReFigures found on this page</div>
    <div ng-hide="vm.store.userInfo.ID" >Please click <a href="#!/auth">here</a> to sign in</div>
</div>
<collection-list ng-if="vm.store.userInfo.ID"></collection-list>