<div class="text-center">
    <p class="rf-details btn-group" ng-show="vm.store.foundFigures.length">
        <a href="#!/foundFigures" class="btn rf-details-link">
            Found <b ng-bind="vm.store.foundFigures.length"></b> <span plural="vm.store.foundFigures.length">image</span>
            in <b ng-bind="vm.store.inMetapublications.length"></b> <span plural="vm.store.inMetapublications.length">Refigure</span>
        </a>
        <a ng-href='http://refigure.noblecoz.com/search-results/?query="{{vm.store.inMetapublications.join("\" \"")}}"'
           target="_blank"
           class="btn btn-link">
            details
            <span class="glyphicon glyphicon-share-alt"></span>
        </a>
    </p>
    <div ng-hide="vm.store.foundFigures.length > 0">No Refigures found on this page</div>
    <div ng-hide="vm.store.userInfo.ID" >Please click <a href="#!/auth">here</a> to sign in</div>
    <found-figures></found-figures>
</div>
<div class="list-delimiter"></div>
<collection-list ng-if="vm.store.userInfo.ID"></collection-list>