@import "../common/variables"
@import "../vendor/bootstrap/stylesheets/bootstrap"

body
    padding-top: 70px
    width: 400px

.figure-add
    color: rgb(220, 220, 220)
    font-size: 20px
    border-radius: 4px
    border: 2px dashed rgb(220, 220, 220)

img
    max-width: 100%
    min-height: 100%

.no-padding
    padding: 0

.logout-form
    margin-bottom: 20px

.logout-identity > label
    margin-bottom: 0
    margin-top: 5px

.login-password
    margin-top: 10px

.clickable
    cursor: pointer

.thumbnail-sm
    height: 50px

@import "app/components/foundFigures/foundFigures.component"
@import "app/components/navBar/navBar.component"
