html{
    height: 100%;
}
body {
    width: 400px;
    transition: width .2s;
    height: 100%;
  /*  overflow: auto;*/
 }
.figure-add{
    color: rgb(220, 220, 220);
    font-size: 20px;
    border-radius: 4px;
    border: 2px dashed rgb(220, 220, 220);
}
img{
    max-width: 100%;
    min-height: 100%;
}

.logout-form {
    margin-bottom: 20px;
}

.logout-identity > label {
    margin-bottom: 0;
    margin-top: 5px;
}

.login-password {
    margin-top: 10px;
}

/* FOUND-FIGURES*/
.vcenter {
    display: inline-block;
    float: none;
    vertical-align: middle;
    margin-right: 15px;
    margin-left: 15px;
}
.navbar{
    position: relative;
}
.home-icon{
    position: absolute;
    top: 0;
    bottom: 0;
    right: 5px;
    height: 50%;
    margin: auto;
}
.inline {
    display: inline-block;
}

.clickable {
    cursor: pointer;
}

.navbar {
    color: whitesmoke;
    background-color: #101010;
}

.figures-to-left {
    width: 400px;
    padding: 15px 0;
    margin-left: 0px;
    max-height: 100%;
    overflow: auto;
}

.my-caption {
    padding: 0;
    max-height: 40px;
    line-height: 18px;
    overflow: hidden;
    padding-bottom: 5px;
}

.no-padding {
    padding: 0;
}

.body-to-wide {
    width: 780px;
}

.mainblock-fix-width-one {
    width: 380px;
    padding: 0;
   /* margin-right: 20px;
    height: 100%;*/
}
.mainblock-fix-width-two {
    width: 400px;
    padding: 0;
    /* margin-right: 20px;
     height: 100%;*/
}
.block-to-right {
  /*  position: relative;
    left: 400px;*/
    margin-left: 400px;
}

/* FOUND-FIGURES*/