$icon-font-path: "/fonts/"
@import "../vendor/bootstrap/stylesheets/bootstrap"

html
    height: 100%

body
    width: 400px
    transition: width .3s linear
    height: 100%
    position: relative

.clear
    clear: both

.figure-add
    color: rgb(220, 220, 220)
    font-size: 20px
    border-radius: 4px
    border: 2px dashed rgb(220, 220, 220)

img
    max-width: 100%
    min-height: 100%

.logout-form
    margin-bottom: 20px

.logout-identity > label
    margin-bottom: 0
    margin-top: 5px

.login-password
    margin-top: 10px

/* FOUND-FIGURES*/

.block-with-custom-margin
    margin-right: 10px
    margin-left: 15px

.inline
    display: inline-block

.clickable
    cursor: pointer

.dark-navbar
    color: whitesmoke
    background-color: #101010

.navbar-text
    float: none

.figures-to-left
    position: absolute
    width: 400px
    padding: 15px 0
    max-height: 100%
    z-index: 99
    overflow: auto

.my-caption
    padding: 0
    max-height: 40px
    line-height: 18px
    overflow: hidden
    padding-bottom: 5px

.no-padding
    padding: 0

.body-to-wide
    width: 780px

.mainblock
    float: right
    background-color: white
    z-index: 999
    padding: 0

.mainblock-fix-width-one
    width: 380px

.mainblock-fix-width-two
    width: 400px

.custom-link:hover,
.custom-link:focus
    outline: auto

/* FOUND-FIGURES*/

/*COLLECTIONS-START*/

.collection .act-buttons
    margin-bottom: 10px

/*COLLECTIONS-END*/