<md-card>
    <form layout="row" class="md-padding" name="vm.editForm">
        <md-input-container flex>
            <input name="term" autofocus ng-model="vm.term" placeholder="Search"/>
        </md-input-container>
    </form>
</md-card>

<pager total="vm.found" search-params="vm.searchParams" sort="false" total-label="Users"></pager>

<md-card
        ui-sref="profile.users({user: item.ID})"
        class="r-user"
        ng-repeat="item in vm.users|filter: vm.term">
    <div layout="column" layout-align="space-between start">
        <span class="md-headline" ng-bind="item.FullName"></span>

        <div>
            <b class="md-caption">Email </b><span ng-bind="item.Email"></span>
        </div>

        <div ng-show="item.Phone">
            <b class="md-caption">Phone </b><span ng-bind="item.Phone"></span>
        </div>

        <div ng-show="item.Organization">
            <b class="md-caption">Organization </b><span ng-bind="item.Organization"></span>
            <span ng-show="item.Department">
                    <b class="md-caption"> in </b>
                    <span ng-bind="item.Department"></span>
                    <b class="md-caption"> dept.</b>
                </span>
        </div>

        <div>
            <b class="md-caption">Joined us at </b><span ng-bind="item.DateCreated|date:'d.MM.yyyy'"></span>
        </div>
        <div class="r-user-controls" layout="column" layout-align="end stretch">
            <div ng-click="vm.remove($index)" class="r-user-remove" layout="row" layout-align="space-around center">
                <md-icon flex>delete</md-icon>
                <md-tooltip>delete user</md-tooltip>
            </div>
        </div>
    </div>
    <div class="r-user-labels">
        <md-button ng-show="item.Type===2" class="md-icon-button r-user-super">
            <md-icon>supervisor_account</md-icon>
            <md-tooltip md-direction="top">User is administrator</md-tooltip>
        </md-button>
        <md-button  ng-show="item.Type===0" class="md-icon-button md-warn">
            <md-icon>error_outline</md-icon>
            <md-tooltip md-direction="top">User has not completed registration yet</md-tooltip>
        </md-button>
    </div>
</md-card>

<md-sidenav
        md-is-open="vm.sidebarOpened"
        class="md-sidenav-right md-whiteframe-4dp"
        md-component-id="userDetails"
        md-disable-scroll-target=".r-page-content">
    <md-toolbar class="md-theme-light">
        <div class="md-toolbar-tools">
            <span md-truncate ng-bind="vm.user.FullName"></span>
            <span flex></span>
            <md-button class="md-icon-button" ng-click="vm.sidebarOpened=false">
                <md-icon>close</md-icon>
            </md-button>
        </div>
    </md-toolbar>

    <md-content layout-padding ng-if="vm.user.ID">
        <md-card ng-form="editUserForm" layout="column" layout-align="start stretch">
            <div layout="row" layout-align="space-between center">
                <md-switch
                        ng-if="vm.user.Type === 0"
                        md-invert
                        ng-model="vm.user.Type"
                        aria-label="Is registered"
                        ng-true-value="1"
                        ng-false-value="0">
                    Registration completed
                </md-switch>
                <md-switch
                        ng-model="vm.fakeTrueValue"
                        ng-if="vm.user.Type !== 0"
                        md-invert
                        aria-label="Is registered">
                    Registration completed
                </md-switch>
                <md-switch
                        md-invert
                        ng-hide="vm.user.Type === 0"
                        ng-model="vm.user.Type"
                        aria-label="Is admin"
                        ng-true-value="2"
                        ng-false-value="1">
                    Administrator
                </md-switch>
            </div>
            <md-input-container>
                <input type="email" placeholder="Email" ng-model="vm.user.Email" name="Email" md-sidenav-focus required>
                <div ng-messages="editUserForm.Email.$error" role="alert" multiple>
                    <div ng-message="required">Email name is required</div>
                    <div ng-message="email">It is not a valid email</div>
                </div>
            </md-input-container>

            <md-input-container>
                <input placeholder="First name" ng-model="vm.user.FirstName" name="FirstName" required>
                <div ng-messages="editUserForm.FirstName.$error" role="alert" multiple>
                    <div ng-message="required">First name is required</div>
                </div>
            </md-input-container>

            <md-input-container>
                <input placeholder="Last name" ng-model="vm.user.LastName" name="LastName">
            </md-input-container>

            <md-input-container>
                <input placeholder="Phone" ng-model="vm.user.Phone" name="Phone">
            </md-input-container>

            <md-input-container>
                <input placeholder="Organization" ng-model="vm.user.Organization" name="Organization">
            </md-input-container>

            <md-input-container>
                <input placeholder="Department" ng-model="vm.user.Department" name="Department">
            </md-input-container>

            <div layout="column" layout-align="center end">
                <md-button
                        class="md-primary md-raised"
                        ng-click="vm.save()"
                        ng-disabled="editUserForm.$invalid || vm.loading || editUserForm.$pristine"
                        layout="column">
                    <span ng-hide="vm.loading">save</span>
                    <md-progress-circular ng-show="vm.loading" class="md-hue-2"
                                          md-diameter="24px"></md-progress-circular>
                </md-button>
            </div>
        </md-card>
    </md-content>
</md-sidenav>