<div ng-show="vm.auth.userInfo.ID">
    <p><b ng-bind="vm.userInfo.Login || vm.userInfo.Email">%Username%</b></p>
    <a href="https://refigure.org/profile" target="_blank">Refigure website</a>
    <div class="text-right">
        <button ng-click="vm.logout()" class="btn btn-default">Sign out</button>
    </div>
</div>

<form ng-hide="vm.auth.userInfo.ID" name="loginForm" ng-submit="vm.login(vm.loginData)">
    <div class="material-input" ng-class="loginForm.login.$invalid && loginForm.login.$dirty ? 'has-error' : ''">
        <input id="login-form-login" type="email" name="login" ng-model="vm.loginData.Email" required/>
        <label for="login-form-login">Login</label>
    </div>
    <div class="material-input" ng-class="loginForm.password.$invalid && loginForm.password.$dirty ? 'has-error' : ''">
        <input id="login-form-pass" type="password" name="password" ng-model="vm.loginData.Password" required/>
        <label for="login-form-pass">Password</label>
    </div>
    <div class="form-group">
        <a href="https://refigure.org/signup/" target="_blank" class="pull-right">Sign up</a>
        <a href="https://refigure.org/passwordreset/" target="_blank">Forgot your password?</a>
    </div>

    <div class="text-right">
        <button class="btn btn-default" ng-disabled="loginForm.$invalid">Sign in</button>
    </div>
</form>