<div ng-show="vm.userInfo" class="container-fluid">
    <form class="logout-form" ng-submit="vm.logout()">
        <div class="logout-identity">
            <label ng-bind="vm.userInfo.Login || vm.userInfo.Email">Username</label>
            <button type="submit" name="logout_submit" class="btn btn-default pull-right">Logout</button>
        </div>
    </form>
</div>

<form ng-hide="vm.userInfo" class="login-form" name="login_form" ng-submit="vm.login(vm.loginData)">
    <div class="form-group">
        <div>
            <label>Login</label>
            <input class="form-control" type="email" name="login_email" ng-model="vm.loginData.Email"/>
        </div>
        <div class="login-password">
            <label>Password</label>
            <input class="form-control" type="password" name="login_password" ng-model="vm.loginData.Password"/>
        </div>
    </div>

    <div class="text-right">
        <button class="btn btn-default" name="login_submit" type="submit" >Login</button>
    </div>
    <hr>
    <div class="text-center" ng-show="vm.error">
        <p class="text-danger" ng-bind="vm.error"></p>
    </div>
</form>