<md-content layout="column" flex>
    <md-card layout="column" layout-padding flex>
        <h1 ng-hide="vm.hideTitle">Terms of service</h1>
        <div class="r-terms">
            <p>By using ReFigure extension and/or ReFigure.org website, you agree to the following terms and conditions:</p>

            <h4>Who we are:</h4>
            <p>ReFigure extension and/or ReFigure.org website were created by Scimpact, LLC.</p>

            <h4>Who you are:</h4>
            <p>A “User” is defined as an individual or an entity that has Refigure extension installed and/or views, reads,
                interprets or engages in any manner with Refigure.org website or extension.</p>

            <h4>Our purpose:</h4>
            <p>ReFigure allows users to create and display figures and metadata in metapublications henceforth referred to as
                Refigures, published and publically available on the website ReFigure.org.</p>

            <h4>Our liability</h4>
            <p>Supported domains from where figures and metadata can be captured may change and Scimpact, LLC does not accept
                any liability resulting from presentation of these figures.</p>

            <h4>Privacy policy</h4>
            <p>Scimpact, LLC will not reveal your login information or your identify. Your identity may be discernable if you
                share Refigures on social media or link Refigures on your online profiles on other independently operated
                platforms.</p>

            <h4>Copyright and trademarks.</h4>
            <p>All figures and metadata shared on Refigure.org from supported domains continue to be protected under their
                original copyright and/or trademark.Users retain the copyright to any new text, images or other content they
                submit to Refigure.org. Text and Images on Refigure.org website apart from that submitted by users or included
                in Refigures is the property of Scimpact, LLC and protected by copyright laws.</p>

            <h4>Termination of service</h4>
            <p>Availability of extension for installation and use and availability of Refigure.org for viewing may be terminated
                at any time. User accounts may be terminated and their Refigures removed at the sole discretion of Scimpact,
                LLC.</p>
        </div>
    </md-card>
</md-content>
