main-header
  .r-nav-logo
    max-width: 40px
    max-height: 40px
  .r-main-toolbar
    .r-nav-bar-heading
      margin: auto 1em
    .r-search-input
      margin-top: 24px
      margin-bottom: 0
      label, input
        color: currentColor !important
        border-color: currentColor
      input:focus
        border-color: currentColor