<md-toolbar class="r-main-toolbar">
    <div class="md-toolbar-tools">
        <a ui-sref="home.search"><img alt="Brand" src="img/refigure_logo.png" class="r-nav-logo"/></a>
        <h2 hide show-gt-sm ng-bind="vm.projectName" class="r-nav-bar-heading"></h2>
        <span md-truncate ng-bind="vm.state.data.headerTitle"></span>

        <span flex></span>
        <md-button hide show-gt-sm href="mailto:refigure@refigure.org" class="md-icon-button">
            <md-icon>mail_outline</md-icon>
            <md-tooltip>
                If you are experiencing any problems with this extension
                or have questions or suggestions, please email us
            </md-tooltip>
        </md-button>
        <md-button hide show-gt-sm class="md-icon-button" ui-sref="home.help">
            <md-icon>help_outline</md-icon>
        </md-button>
        <md-button ui-sref="profile" ng-class="vm.userInfo.Email?'':'md-icon-button'" aria-label="My Refigure">
            <md-icon ng-hide="vm.userInfo.Email">account_box</md-icon>
            <span ng-show="vm.userInfo.Email" ng-bind="vm.userInfo.FullName"></span>
        </md-button>
        <pre></pre>
        <md-button ng-click="vm.toggle()" class="md-icon-button" aria-label="Menu">
            <md-icon>menu</md-icon>
        </md-button>
    </div>
</md-toolbar>

<md-sidenav class="md-sidenav-left" md-component-id="main-sidenav" md-whiteframe="4">

    <md-toolbar>
        <div class="md-toolbar-tools">
            <a ui-sref="home.search"><img alt="Brand" src="img/refigure_logo.png" class="r-nav-logo"/></a>
            <span flex></span>
            <md-button aria-label="Close" ng-click="vm.toggle()">
                Close
                <md-icon class="md-icon-button" md-font-set="material-icons">close</md-icon>
            </md-button>
        </div>
    </md-toolbar>

    <md-content md-scroll-y>
        <div ng-repeat="item in vm.menuItems">
            <md-list-item
                class="md-2-line"
                ng-if="item.state"
                ui-sref="{{ item.state }}"
                aria-label="{{ item.label }}"
                ng-click="vm.toggle()">
                <div class="md-list-item-text" layout="column">
                    <h3 ng-bind="item.label"></h3>
                    <h4 ng-bind="item.description"></h4>
                </div>
            </md-list-item>
            <md-list-item class="md-2-line"
                          ng-if="!item.state"
                          aria-label="{{ item.label }}"
                          ng-href="{{item.href}}"
                          target="{{item.target || 'self'}}">
                <div class="md-list-item-text" layout="column">
                    <h3 ng-bind="item.label"></h3>
                    <h4 ng-bind="item.description"></h4>
                </div>
            </md-list-item>
        </div>
    </md-content>

</md-sidenav>
