<md-toolbar class="r-main-toolbar">
    <div class="md-toolbar-tools">
        <a ui-sref="home"><img alt="Brand" src="//refigure.org/img/refigure_logo.png" class="r-nav-logo"/></a>
        <h2 ng-bind="vm.projectName" class="r-nav-bar-heading"></h2>

        <span flex></span>

        <md-button ui-sref="profile" class="md-icon-button" aria-label="My ReFigure">
            <md-icon md-font-set="material-icons">account_box</md-icon>
        </md-button>

        <md-button ng-click="vm.toggleLeft()" class="md-icon-button" aria-label="Menu">
            <md-icon md-font-set="material-icons">menu</md-icon>
        </md-button>
    </div>
</md-toolbar>

<md-sidenav class="md-sidenav-left" md-component-id="left"
            md-disable-backdrop md-whiteframe="4">

    <md-toolbar class="md-theme-indigo">
        <div class="md-toolbar-tools">
            <a ui-sref="home"><img alt="Brand" src="//refigure.org/img/refigure_logo.png" class="r-nav-logo"/></a>
            <span flex></span>
            <md-button aria-label="Close" ng-click="vm.toggleLeft()">
                Close
                <md-icon class="md-icon-button"
                         md-font-set="material-icons">close</md-icon>
            </md-button>
        </div>
    </md-toolbar>

    <md-content md-scroll-y layout-margin>
        <md-list-item class="md-3-line"
                      ng-repeat="item in vm.menuItems"
                      aria-label="{{ item.label }}"
                      ui-sref="{{ item.state }}"
                      ng-click="vm.toggleLeft()">
            <div class="md-list-item-text" layout="column">
                <h3 ng-bind="item.label"></h3>
                <p ng-bind="item.title"></p>
            </div>
        </md-list-item>
    </md-content>

</md-sidenav>
