<form>
    <div class="form-group">
        <label>URL</label>
        <input type="text" class="form-control" ng-model="vm.figure.URL" readonly>
    </div>
    <div class="form-group">
        <label>Caption</label>
        <textarea class="form-control" ng-model="vm.figure.Caption"></textarea>
    </div>
    <div class="form-group">
        <label>Legend</label>
        <input type="text" class="form-control" ng-model="vm.figure.Legend">
    </div>
    <div class="form-group">
        <label>Article authors</label>
        <input type="text" class="form-control" ng-model="vm.figure.Authors">
    </div>
    <div class="form-group">
        <label>Article DOI</label>
        <input type="text" class="form-control" ng-model="vm.figure.DOI">
    </div>
    <div class="form-group">
        <label>DOI Figure</label>
        <input type="text" class="form-control" ng-model="vm.figure.DOIFigure">
    </div>
    <p class="text-right">
        <a ng-href="#!/" class="btn btn-default">CANCEL</a>
        <button class="btn btn-primary">SAVE</button>
    </p>
</form>