collections-item
    [ui-sref] a
        color: #000
    md-sidenav.rf-item-details
        width: 450px
        max-width: none
        .md-chips
            md-chip
                padding: 0 8px
                height: 20px
                line-height: 20px
                margin: 8px 4px 0 0
                font-size: 12px
                color: #fff
                border-radius: 10px
                background-color: $success-color

    md-content.rf-item-image
        margin: 0 15px 15px 0
        background: #fff
        max-height: 200px
        overflow: visible

        img
            max-height: 200px

    .rf-item-info
        position: relative
        top: -20px
        margin: 0 15px 15px 0
        background: #fff
        padding: 10px
        width: 400px

    .rf-item-image
        cursor: pointer
        transition: box-shadow .3s
        &:hover
            box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12)

    .r-item-title
        max-width: 300px

    .rf-item-fullscreen
        position: relative
        img
            max-height: 300px
        md-icon
            position: absolute
            top: 0
            left: 0
            opacity: .4
            transition: opacity .3s

        &:hover md-icon
            opacity: 1