<md-card>
    <md-card-title>
        <md-card-title-media>
            <div class="md-media-md card-media">
                <img ng-src="{{vm.item.$ui.img.src}}">
            </div>
        </md-card-title-media>
        <md-card-title-text  layout="column" layout-align="space-between start">
            <span class="md-headline" ng-bind="vm.item.Title"></span>
            <div ng-bind="vm.item.Description"></div>
            <span class="md-subhead">
                <span ng-bind="vm.item.FiguresCount"></span>
                image<span ng-bind="vm.item.FiguresCount === 1 ? '' : 's'"></span> in refigure
            </span>
        </md-card-title-text>
    </md-card-title>
    <most-visited count="vm.item.Visit.Count"></most-visited>
    <collection-flagged flagged="{{vm.item.Flagged}}"></collection-flagged>
</md-card>