@import "components/components"

md-card
    position: relative
    md-card-title-text
        padding: 0 1rem

.hide-show-slide-down
    max-height: 1000px
    &.ng-hide
        max-height: 0

    &.ng-hide-add,
    &.ng-hide-remove
        transition: max-height linear 0.3s

[ui-sref],
[ng-click]
    cursor: pointer

.md-button-small
    min-width: 1%

md-dialog
    max-height: 95%
    max-width: 90%
    min-width: 50px

.rf-features
    .md-chips
        box-shadow: none
        padding: 0
        md-chip
            margin: 0 4px 4px 0
            padding: 0 8px
            height: 20px
            line-height: 20px
            font-size: 12px
            color: #fff
            border-radius: 10px
            background-color: $success-color

md-input-container .material-input-example
    position: absolute
    left: 10px
    bottom: 10px
    font-size: 12px
    color: #c2c2c2

#twitter-feed
    margin-top: 8px
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 2px 1px -1px rgba(0, 0, 0, 0.12)