@import "components/components"

md-card
    position: relative
    md-card-title-text
        padding: 0 1rem

.hide-show-slide-down
    max-height: 1000px
    &.ng-hide
        max-height: 0

    &.ng-hide-add,
    &.ng-hide-remove
        transition: max-height linear 0.3s

[ui-sref],
[ng-click]
    cursor: pointer

.md-button-small
    min-width: 1%

md-dialog
    min-width: 50px

.md-dialog-autoheight
    height: auto!important

md-backdrop
    position: fixed
    top: 64px