/*//TODO: REMOVE BOOTSTRAP.css!*/
.rf-addable-image {
    outline: 1px solid green;
}

.rf-addable-image:hover {
    outline: 3px solid green;
}

.rf-popup {
    position: fixed;
    top: 0;
    right: 0;
    background-color: #fff;
    border-radius: 3px;
    border: 1px solid #ccc;
    z-index: 1000000;
    display: none;
    opacity: 0;
    transition: opacity .3s;
    width: 300px;
    max-height: 100%;
}

.rf-popup.rf-popup-show {
    display: block;
    opacity: 1;
}

.rf-popup, .rf-popup * {
    font: normal 14px/22px "Helvetica Neue", Helvetica, Arial, sans-serif;
    box-sizing: border-box;
    color: #222;
}

.rf-popup .rf-popup-header {
    font-size: 16px;
    line-height: 40px;
    background-color: #4285f4;
    color: #fff;
    padding: 0 10px;
}

.rf-popup .rf-popup-wrp {
    padding: 10px;
}

.rf-popup .rf-popup-wrp button.rf-popup-btn {
    outline: none;
    border: none;
    border-radius: 3px;
    background-color: #424;
    color: #fff;
    text-align: center;
    display: block;
    padding: 5px 10px;
    width: auto !important;
    margin: 0;
    float: none;
}

.rf-popup .rf-popup-wrp input,
.rf-popup .rf-popup-wrp textarea {
    display: block;
    width: 100%;
    height: auto;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.4285;
    color: #222;
    background: #fff none;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

.rf-popup .rf-popup-wrp input {
    height: 34px;
}

.rf-popup .rf-popup-wrp label {
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: 700;
}

.rf-popup .rf-popup-wrp .rf-form-group {
    margin-bottom: 15px;
}