.rf-addable-image
    outline: 2px solid #5cb85c

.rf-addable-image:hover
    outline: 4px solid #5cb85c

$panel-primary-border:        #fff
$panel-primary-heading-bg:    #222
$rf-dialog-controls-width:    50px

@import "../common/variables"
.rf-dialog
    @import "../vendor/bootstrap/stylesheets/bootstrap"
    @import "../common/material-input"

.rf-dialog
    overflow: hidden
    box-shadow: 0 2px 2px rgba(0, 0, 0, .5)
    font-size: 14px
    line-height: 21px
    position: fixed
    top: 0
    max-height: 100%
    right: 0
    background-color: #fff
    z-index: 1000000
    width: 400px

    .panel
        height: 100%
        overflow: auto

    .panel-heading
        position: relative
        padding-right: $rf-dialog-controls-width
        white-space: nowrap

        .rf-heading-title
            overflow: hidden
            text-overflow: ellipsis

        .rf-dialog-controls
            position: absolute
            top: 5px
            bottom: 5px
            right: 0
            border-left: 1px solid #fff
            width: $rf-dialog-controls-width
            line-height: 30px
            text-align: center
            span
                display: inline-block
                cursor: pointer

    &.rf-minimized .panel-body,
    &.rf-minimized .panel-footer
        height: 0
        padding: 0
        border: 0
        overflow: hidden

    img.thumbnail
        max-width: 100px
        max-height: 100px
        margin-bottom: 0

    &-caption
        max-height: 40px
        overflow: hidden
        margin-bottom: 10px

    .form-control[contenteditable]
        overflow: auto
        height: auto
        max-height: 80px

    .panel
        margin-bottom: 0

    .rf-fig-list-item
        display: inline-block
        padding: 10px

        img
            border: 2px solid transparent
            cursor: pointer
            max-width: 60px
            max-height: 60px

            &.rf-fig-list-item-current
                border-color: #5cb85c