<div class="rf-dialog" ng-hide="hidden" ng-class="minimized ? 'rf-minimized' : ''">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <div class="rf-controls">
                <span class="rf-controls-move" draggable="true" title="Move">&#10021;</span>
                <span title="Minimize" ng-click="minimized=!minimized" ng-bind="minimized ? '&#9744;' : '&#9601;'"></span>
                <span title="Close" ng-click="close()">&#10006;</span>
            </div>
            <div class="rf-heading-title" title="{{collection.Title}}">
                Add image to refigure "<span ng-bind="collection.Title"></span>"
            </div>
        </div>
        <div class="panel-body">
            <div class="rf-info-message">
                <div class="row">
                    <div class="col-xs-8">Add findings by clicking on any figure or table with a green border</div>
                    <div class="col-xs-4"><img ng-src="{{exampleSrc}}" alt=""></div>
                </div>
            </div>
            <div ng-repeat="fig in collection.Figures">
                <div class="row">
                    <div class="col-xs-4">
                        <a href="#" ng-click="expandImage(fig.URL)">
                            <img class="thumbnail" ng-src="{{fig.URL}}">
                        </a>
                    </div>
                    <div class="col-xs-8">
                        <div class="rf-dialog-caption" ng-bind="fig.Caption"></div>
                        <div class="row">
                            <div class="col-xs-6">
                                <button type="button" class="btn btn-link btn-xs" ng-click="toggle($index)">
                                    <span class="glyphicon"
                                          ng-class="opts.current === $index ? 'glyphicon-minus' : 'glyphicon-plus'"></span>
                                    <span ng-bind="opts.current === $index ? 'hide' : 'show'"></span> image details
                                </button>
                            </div>
                            <div class="col-xs-6">
                                <button type="button" class="btn btn-danger btn-xs btn-block" ng-click="remove($index)">
                                    <span aria-hidden="true">&#10007;</span>&nbsp;&nbsp;remove
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row" ng-show="opts.current === $index">
                    <div class="container-fluid">
                        <div class="material-input">
                            <input id="rf-edit-figure-url_{{$index}}" ng-model="fig.URL" readonly>
                            <label for="rf-edit-figure-url_{{$index}}">URL</label>
                        </div>
                        <div class="material-input">
                            <div ng-blur="saveFigure(fig)" contenteditable ng-model="fig.Caption"></div>
                            <label>Caption</label>
                        </div>
                        <div class="material-input">
                            <div ng-blur="saveFigure(fig)" contenteditable ng-model="fig.Legend"></div>
                            <label>Legend</label>
                        </div>
                        <div class="material-input">
                            <input ng-blur="saveFigure(fig)" id="rf-edit-figure-features_{{$index}}" ng-model="fig.Features">
                            <label for="rf-edit-figure-features_{{$index}}">Notes <span>(your comments: antibody clone, cell line, etc.)</span></label>
                        </div>
                        <div class="material-input">
                            <div ng-blur="saveFigure(fig)" contenteditable ng-model="fig.Authors"></div>
                            <label>Article authors</label>
                        </div>
                        <div class="material-input">
                            <input ng-blur="saveFigure(fig)" id="rf-edit-figure-doi_{{$index}}" ng-model="fig.DOI">
                            <label for="rf-edit-figure-doi_{{$index}}">Article DOI</label>
                        </div>
                    </div>
                </div>
                <hr ng-hide="$last">
            </div>
        </div>
        <div class="panel-footer" ng-show="collection.Figures.length">
            <button ng-click="close()" type="button" class="btn btn-block btn-default">Close</button>
        </div>
    </div>
    <div class="rf-dialog-confirm" ng-show="dialog.showConfirm">
        <div class="rf-dialog-confirm-window">
            <p class="rf-dialog-confirm-title">{{dialog.text}}</p>
            <div class="row">
                <div class="col-xs-6">
                    <button ng-click="dialog.cancel()" class="btn btn-block btn-default">No</button>
                </div>
                <div class="col-xs-6">
                    <button ng-click="dialog.ok()" class="btn btn-block btn-info">Yes</button>
                </div>
            </div>
        </div>
    </div>
</div>