<div class="rf-dialog" ng-hide="hidden" ng-class="minimized ? 'rf-minimized' : ''">
    <form class="panel panel-primary" name="ccForm" ng-submit="saveCollection(formData)">
        <div class="panel-heading">
            <div class="rf-controls">
                <span class="rf-controls-move" draggable="true" title="Move">&#10021;</span>
                <span title="Minimize" ng-click="minimized=!minimized" ng-bind="minimized ? '&#9744;' : '&#9601;'"></span>
                <span title="Close" ng-click="close()">&#10006;</span>
            </div>
            <div class="rf-heading-title">Create refigure</div>
        </div>
        <div class="panel-body">
            <div class="material-input" ng-class="ccForm.title.$invalid && ccForm.title.$dirty ? 'has-error' : ''">
                <input id="rf-collection-create-title" name="title" ng-model="formData.Title" required/>
                <label for="rf-collection-create-title">Title <span>(Effect of anti-CD47 on tumor growth)</span></label>
            </div>
            <div class="material-input">
                <div contenteditable id="rf-collection-create-descr" ng-model="formData.Description"></div>
                <label for="rf-collection-create-descr">Description <span>(Are in vivo results dependent on antibody clone?)</span></label>
            </div>
            <div class="material-input">
                <input id="rf-collection-create-keywords" ng-model="formData.Keywords" type="text"/>
                <label for="rf-collection-create-keywords">Keywords <span>(Comma separated: gene name, replication, etc)</span></label>
            </div>
        </div>
        <div class="panel-footer">
            <button ng-disabled="ccForm.$invalid" class="btn btn-block btn-primary">Create</button>
        </div>
    </form>
</div>