<div class="r-main-content" layout="row">
    <div flex flex-offset-gt-xs="15">
        <div class="r-heading" layout="column">
            <h1 md-colors="{color: 'accent-600'}" class="r-title md-display-2">Refigure</h1>
            <p class="r-description md-headline">
                Create sets of related experiments from open-access research publications using the ReFigure chrome
                plugin.
            </p>
        </div>

        <form name="vm.form" ng-submit="vm.submit()">
            <div class="r-search-input" layout="row">
                <md-input-container flex>
                    <input name="term" autofocus ng-model="vm.term" placeholder="Search"/>
                </md-input-container>
                <md-button class="md-icon-button"
                           ng-disabled="!vm.form.term.$viewValue"
                           md-colors="{background: 'accent-100'}" aria-label="Search"
                           type="submit"
                >
                    <md-icon md-font-set="material-icons">search</md-icon>
                </md-button>
            </div>
        </form>

        <div class="r-download-extension" layout="column" layout-align="top center" ng-show="vm.isChrome">
            <md-button
                    target="_blank"
                    href="https://chrome.google.com/webstore/detail/refigure/plbplbglohkmicpcelhkendkdfaipome?hl=en"
                    layout-padding class="md-raised md-cornered md-accent">
                Install our Chrome Extension
                <md-icon md-svg-src="img/chrome.svg">search</md-icon>
            </md-button>
        </div>
    </div>
    <div hide show-gt-xs flex="15"></div>
</div>
<div class="r-most-visited" layout="row" ng-if="vm.mostVisited.length">
    <div flex flex-offset-gt-xs="5">
        <div class="r-heading" layout="column">
            Most visited refigures
        </div>
        <md-content layout-padding layout-gt-sm="row" layout="column">
            <md-card ui-sref="collections.item({id: item.ID})" md-theme="default" flex-gt-sm="33" ng-repeat="item in vm.mostVisited">
                <md-card-title>
                    <md-card-title-media>
                        <div class="md-media-sm card-media">
                            <img ng-src="{{ item.$ui.img.src }}" class="md-card-image" alt="Collection image"/>
                        </div>
                    </md-card-title-media>
                    <md-card-title-text layout="column" layout-align="space-between start">
                        <b ng-bind="item.$ui.title"></b>
                        <span ng-bind="item.$ui.description"></span>
                        <span class="md-subhead">
                            <span ng-bind="item.FiguresCount"></span>
                            image<span ng-bind="item.FiguresCount === 1 ? '' : 's'"></span> in refigure
                        </span>
                    </md-card-title-text>
                </md-card-title>
                <visits-count count="item.Visit.Count"></visits-count>
            </md-card>
        </md-content>
    </div>
    <div hide show-gt-xs flex="5"></div>
</div>
