<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-1 nav-title">
                <a class="brand-link" ng-hide="vm.page.name==='main'" href="#" ng-click="vm.historyBack()">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                </a>
                <a class="brand-link" ng-show="vm.page.name==='main'" href="https://refigure.noblecoz.com"
                   target="_blank">
                    <img src="/img/icon.png" alt="ReFigure">
                </a>
            </div>
            <div class="col-xs-4 nav-title" ng-bind="vm.page.title"></div>
            <div class="col-xs-6 nav-title nav-default-collection">
                <span ng-show="vm.store.userInfo.ID">
                    <i>default collection</i>
                    <span ng-bind="vm.store.Metapublication.Title"></span>
                </span>
            </div>
            <div class="col-xs-1 nav-title">
                <a href="#!/auth">
                    <span class="glyphicon" ng-class="vm.store.userInfo.ID ? 'glyphicon-user' : 'glyphicon-log-in'"></span>
                </a>
            </div>
        </div>
    </div>
</nav>