<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-2">
                <a class="brand-link" ng-hide="vm.page.name==='main'" href="#" ng-click="vm.historyBack()">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                </a>
                <a class="brand-link" ng-show="vm.page.name==='main'" href="https://refigure.noblecoz.com" target="_blank">
                    <img src="/img/icon.png" alt="ReFigure">
                </a>
            </div>
            <span ng-bind="vm.page.title"></span>
            <div class="col-xs-2 pull-right">
                <a href="#!/auth">
                    <span ng-show="vm.userInfo" class="glyphicon glyphicon-user"></span>
                    <span ng-hide="vm.userInfo" class="glyphicon glyphicon-log-in"></span>
                </a>
            </div>
        </div>
    </div>
</nav>