<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <div class="row">
            <a class="col-xs-5 nav-title" ng-hide="vm.page.name==='main'" href="#" ng-click="vm.historyBack()">
                <span class="glyphicon glyphicon-chevron-left"></span>
                <span ng-bind="vm.page.title"></span>
            </a>
            <a class="col-xs-5 nav-title" ng-show="vm.page.name==='main'" href="https://refigure.org" target="_blank">
                <img src="/img/refigure_logo_small.png" alt="Refigure">
                <span ng-bind="vm.page.title"></span>
            </a>
            <div class="col-xs-6 nav-title nav-default-collection">
                <!--<span ng-show="vm.store.userInfo.ID">-->
                    <!--<i>selected Refigure</i>-->
                    <!--<span ng-bind="vm.store.Metapublication.Title"></span>-->
                <!--</span>-->
            </div>
            <div class="col-xs-1">
                <a href="#!/auth">
                    <span class="glyphicon" ng-class="vm.store.userInfo.ID ? 'glyphicon-user' : 'glyphicon-log-in'"></span>
                </a>
            </div>
        </div>
    </div>
</nav>