<form class="collection" name="ccForm" ng-submit="vm.editCollection(vm.formData)">
    <div class="material-input" ng-class="ccForm.title.$invalid && ccForm.title.$dirty ? 'has-error' : ''">
        <input id="collection-create-title" name="title" type="text" ng-model="vm.formData.Title" required/>
        <label for="collection-create-title">Title</label>
    </div>
    <div class="material-input">
        <div contenteditable="true" id="collection-create-descr" ng-model="vm.formData.Description"></div>
        <label for="collection-create-descr">Hypothesis</label>
    </div>
    <div class="material-input">
        <input id="collection-create-keywords" type="text" ng-model="vm.formData.Keywords"/>
        <label for="collection-create-keywords">Keywords</label>
    </div>
    <div class="text-right">
        <div class="btn-group">
            <button ng-disabled="ccForm.$invalid" class="btn btn-sm btn-primary">Create</button>
        </div>
    </div>
</form>

